Image_Classification/yolo11s.pt
Image_Classification/yolo11n.pt
Image_Classification/combined_frames_1
Image_Classification/formatted_yolo_1
Image_Classification/runs
Image_Classification/Videos
Image_Classification/YOLO_set_1